/* === GENERAL STYLING ==== */
/* brand font */
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
/* navs font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
/* paragraph font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    user-select: none;
    user-zoom: none;
}
:root{
    --litcolor:#FFFFFF;
    --blkkcolor:#000000;
    --drkcolor:#C68B59;
    --brandfont:'Abyssinica SIL', serif;
    --navfont: 'Raleway', sans-serif;
    --pfont: 'Roboto Flex', sans-serif;
}
.title_text{
    font-family: var(--brandfont);
    text-transform: uppercase;
}
p{
    font-family: var(--pfont);
    text-align: justify;
}
.btn{
    width: fit-content;
    background-color:var(--drkcolor) !important;
    border: none !important;
    color: var(--litcolor) !important;
}
.btn:hover{
    width: fit-content;
    background:none !important;
    border: 1px solid var(--drkcolor) !important;
    color: var(--drkcolor) !important;
}
/* === NAVBAR STYLING ==== */
#navbar{
    background-color:var(--litcolor);
    height: 10vh !important;
}
.navbar-brand{
    font-family:var(--brandfont);
}
.nav-link,form a{
    font-family: var(--navfont);
    font-size: 0.9em !important;
    font-weight: bold;
    color: var(--blkcolor);
}

/* === NAVBAR STYLING ==== */
main{
    height: 90vh;
    background-color: var(--litcolor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.landing_text{
    /* background-color: var(--blkkcolor); */
    height: 400px;
    width: 40%;
}


