/* === GENERAL STYLING ==== */
/* brand font */
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
/* navs font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    user-select: none;
    user-zoom: none;
}
:root{
    --litcolor:#FFFFFF;
    --blkkcolor:#000000;
    --drkcolor:#C68B59;
    --brandfont:'Abyssinica SIL', serif;
    --navfont: 'Raleway', sans-serif;
}
.btn{
    width: fit-content;
    background-color:var(--drkcolor) !important;
    border: none !important;
    color: var(--litcolor) !important;
}
.btn:hover{
    width: fit-content;
    background:none !important;
    border: 1px solid var(--drkcolor) !important;
    color: var(--drkcolor) !important;
}
/* === NAVBAR STYLING ==== */
#navbar{
    background-color:var(--litcolor);
}
.navbar-brand{
    font-family:var(--brandfont);
}
.nav-link,form a{
    font-family: var(--navfont);
    font-size: 0.9em !important;
    font-weight: bold;
    color: var(--blkcolor);
}

@media only screen and (min-width: 991px) {
    .ddflx{
     display: flex;
     align-items: center;
     justify-content: space-around;
    } 
    .btn-b{
        display: none !important;
    }
 }
 @media only screen and (max-width: 991px) {
    .btn-a{
     display: none !important;
    } 
    .btn-b{
        display: inline-block;
    }
 }
@media only screen and (max-width: 767px) {
   .btn-a{
    display: block !important;
    width: 100%;
   } 
   .ddflx{
    display: block;
   } 
   .btn-b{
    display: none !important;
   }
}
