/* === GENERAL STYLING ==== */
/* brand font */
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
/* navs font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
/* paragraph font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    user-select: none;
    user-zoom: none;
}
:root{
    --litcolor:#FFFFFF;
    --blkkcolor:#000000;
    --drkcolor:#C68B59;
    --brandfont:'Abyssinica SIL', serif;
    --navfont: 'Raleway', sans-serif;
    --pfont: 'Roboto Flex', sans-serif;
}
.title_text{
    font-family: var(--brandfont);
    /* text-transform: uppercase; */
    font-size: 3rem;
}
p{
    font-family: var(--pfont);
    text-align: justify;
}
.btn{
    width: fit-content;
    background-color:var(--drkcolor) !important;
    border: none !important;
    color: var(--litcolor) !important;
}
.btn:hover{
    width: fit-content;
    background:none !important;
    border: 1px solid var(--drkcolor) !important;
    color: var(--drkcolor) !important;
}
/* === NAVBAR STYLING ==== */
#navbar{
    background-color:var(--litcolor);
    height: 10vh !important;
}
.navbar-brand{
    font-family:var(--brandfont);
    border: 2px solid var(--blkkcolor);
}
.nav-link,form a{
    font-family: var(--navfont);
    font-size: 0.9em !important;
    font-weight: bold;
    color: var(--blkcolor);
}

/* === LANDING PAGE STYLING ==== */
main{
    height: 90vh;
    background-color: var(--litcolor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.landing_text{
    background-color: var(--blkkcolor);
    height: 400px;
    width: 40%;
    padding: 5% 0px;
}
/* .btn{
    margin: 20px 0%;
} */
@media screen and (max-width: 767px) {
    .landing_text{
        width: 100%;
        height: fit-content;
    }
    .title_text{
        font-size: 2.5rem !important;
        border-bottom: 3px solid var(--drkcolor);
        margin: 0px 0px 5% 0px !important;
    }
    /* .btn{
        margin: 20px 29%;
    } */
}
@media screen and (max-width: 991px) {
    .title_text{
        font-size: 28px;
    }
    .landing_text{
        height: fit-content;
    }
}

/* === SUB MAIN STYLING ==== */
.d-flex{
    width: 60%;
    height: fit-content;
}
.experience{
    width: 100%;
    height: fit-content;
    display: flex;
}
.customer{
    width: 100%;
    height: fit-content;
    display: flex;
    margin-left: -25%;
    /* background-color: #000000; */
}
.number{
    font-size: 30px;
    height: 40px;
    padding: 0% 0px 0px 5px;
    font-weight: lighter;
    text-align: center;
    border-left: 3px solid var(--drkcolor);
    
    
}
.inner_text{
    font-size: xx-small;
    width: 15%;
    background-color: #FFFFFF;
    /* padding: 0% 0px 0px 5px; */
    margin: 2% 4px;
    font-weight: lighter;
}
/* =================================== SMALL SCREEN SIZE ==================== */
@media screen and (max-width: 767px) {
    .d-flex{
        width: 100% !important;
        height: fit-content;
        justify-content: space-between !important;
    }
    .experience{
        width: 100%;
        height: fit-content !important;
    }
    .number{
        height: fit-content;
        font-size: 10px !important;
        padding: 0% 0px 0px 8px !important;
        font-weight: lighter;
        text-align: center !important;
        border-left: 2px solid var(--drkcolor) !important;
    }
    .inner_text{
        font-size: xx-small !important;
        width: fit-content !important;
        padding: 2% 0px 0px 5px !important;
        font-weight: lighter;
        margin: 0px;
    }
    .customer{
        width: 100%;
        height: fit-content !important;
        margin-left: 0%;
    }
}

/* =================================== MEDIUM SCREEN SIZE ==================== */
@media screen and (max-width: 991px) {
    .experience{
        height: fit-content;
        display: flex;
    }
    .number{
        height: fit-content !important;
        font-size: 2rem !important;
        padding: 0% 0px 0px 8px;
        font-weight: lighter;
        text-align: center;
        border-left: 2px solid var(--drkcolor) !important;
    }
    .inner_text{
        font-size: xx-small !important;
        width: 15% !important;
        background-color: #FFFFFF;
        padding: 12px 0px 0px 5px !important;
        font-weight: lighter;
        margin: 0px !important;
    }
    .customer{
        width: 100%;
        height: fit-content !important;
    }
}
